<!DOCTYPE html>
<html>
<head>
  <title>Image Watermark Tool</title>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

    * {
      font-family: "Ubuntu", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    :root {
        --blue: #2a2185;
        --blue2: #4236ce;
        --white: #fff;
        --gray: #f4f4f4;
        --gray2: #eeecec;
        --black1: #222;
        --black2: #999;
    }

    body {
        background: var(--gray);
        color: var(--black1);
        margin: 0;
        padding: 0;
    }
    table {
      width: 100%; 
      border-collapse: separate;
      border-spacing: 10px;
    }


    h1 {
        text-align: center;
        color: var(--white);
        background: var(--blue);
        padding: 20px;
        margin: 0;
    }

    form {
        margin: 20px;
        padding: 20px;
        background: var(--white);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    input[type="file"] {
        padding: 10px;
        border: 2px solid var(--blue);
        border-radius: 5px;
        width: 80%;
        margin-bottom: 20px;
    }

     input[type="text"]{
        padding: 12px;
        border: 2px solid var(--blue);
        border-radius: 5px;
        width: 80%;
        margin-bottom: 20px;
     }

    button {
        width: 100%;
        background: var(--blue);
        color: var(--white);
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background: var(--blue2);
    }

    #result, #download {
        margin: 20px;
        padding: 20px;
        background: var(--white);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>

</head>
<body>
    <h1>Image Watermark Tool</h1>
    <form id="formSubmit" enctype="multipart/form-data">
        <table>
            <tr style="text-align:left; width:200px">
                <th>
                    <label for="image">Select Image:</label>
                </th>
                <th>
                    <label for="watermarkType">Choose Watermark Type: </label>
                    <input type="radio" name="watermarkType" value="image" id="selectImage" checked>Image
                    <input type="radio" name="watermarkType" value="text" id="selectText">Text
                </th>
            </tr>
            <tr>
                <td>
                    <input type="file" name="mainImage" accept="image/*">
                </td>
                <td>
                    <div id="watermarkImage">
                        <input type="file" name="watermarkImage" accept="image/*">
                    </div>

                    <div id="watermarkText" style="display: none;">
                        <input type="text" name="watermarkText" placeholder="Enter WaterMark Texts">
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit">Add Watermark</button>
    </form>

    <div id="result">
    </div>

    <div id="download">
    <a id="download-link" href="#" download="resized_image.png" style="display: none;">Download</a>
    </div>


<script>
document.addEventListener('DOMContentLoaded', () => {
    const selectImage = document.getElementById('selectImage');
    const selectText = document.getElementById('selectText');
    const watermarkImage = document.getElementById('watermarkImage');
    const watermarkText = document.getElementById('watermarkText');

    selectImage.addEventListener('change', () => {
        watermarkImage.style.display = 'block';
        watermarkText.style.display = 'none';
        watermarkText.querySelector('input[type="text"]').value = '';
    });

    selectText.addEventListener('change', () => {
        watermarkText.style.display = 'block';
        watermarkImage.style.display = 'none';
        watermarkImage.querySelector('input[type="file"]').value = '';
    });

    //-----------------------------------------------------------
    const form = document.getElementById('formSubmit');
    const preview = document.getElementById('result');
    const download = document.getElementById('download-link');

     form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        try {
            const response = await fetch('/', {
                method: 'POST',
                body: formData,
            });

            if (response.ok) {
                if (response.headers.get('Content-Type').startsWith('image/')) {
                    const processedImage = await response.blob();
                    const imageUrl = URL.createObjectURL(processedImage);

                    // Create an image element to display the processed image
                    const image = document.createElement('img');
                    image.src = imageUrl;

                    // Clear the previous content in the "result" div
                    preview.innerHTML = '';
                    preview.appendChild(image);

                    // Show the download link
                    download.style.display = 'block';
                    download.href = imageUrl;
                } else {
                    preview.innerHTML = 'Image processing error';
                }
            } else {
                preview.innerHTML = 'Server error';
            }
        } catch (error) {
            console.error('Fetch error:', error);
            preview.innerHTML = 'Fetch error';
        }
    });
});

</script>
</body>
</html>
